<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>小高博客注册</title>
	<style type="text/css">
		*{margin: 0;padding: 0;}
		form{
			margin:20px auto;
			text-align: center;
			border: 1px solid black;
			width:400px;
			line-height: 50px;
		}
		input{
			height: 25px;
		}
		.submit{
			padding: 5px 20px;
			background: #7FFFD4;
			font-size: 16px;
			height: 40px;
		}
	</style>
</head>
<body>
	<form action="{:url('admin/register/register')}" method="post" id="register">
		用户名：<input type="text" name="admin_username" ><br>
		密&nbsp&nbsp码：<input type="text" name="admin_password"><br>
		邮&nbsp&nbsp箱：<input type="text" name="admin_email"><br>
		<input type="submit" class="submit">
	</form>
</body>
</html>